streamlit
yfinance
openai
pandas
plotly
pandas_ta
streamlit-autorefresh
websocket-client
requests
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pip install streamlit-autorefresh
